*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;

}
.image {
	display: flex;
	height: 400px;
	width: 400px;
	margin-left: 200px;
	margin-top: 200px;
}

nav ul {
margin-top: -10px;
float: right;
margin-right: 70px;
}
nav ul li {
display: inline-block;
line-height: 80px;
margin: 0 5px;
}
nav ul li a {
color: #703b0f;
font-size: 20px;
padding: 6px 12px;
border-radius: 30px;
text-transform: uppercase;
}
a:hover {
background: #d3b9a2;
transition: .5s
}
.checkbotton{
	color: white;
	float: right;
	margin-right: 30px;
	margin-top: 40px;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}
@media (max-width: 600px){
	
	.checkbotton {
		display: block;
		margin-left: 200px;
		margin-top: -20px;
	}
	ul {
		position: fixed;
		margin-left: -10px;
		width: 100%;
		height: 100vh;
		background-color: #f1e0d0;
		top: 100px;
		left: 100%;
		text-align: center;
		transition: all .5s;
	}
	nav ul li {
		display: block;
		margin: 50px 10px;
		line-height: 30px;
	}
	nav ul li a {
		font-size: 20px;
	}
	a:hover, a:active{
		background: none;
		color: white;
	}
	#check:checked ~ ul{
		left: 0;
	}
}
.box{

	margin-top: -400px;
	margin-left: 700px;
	border: 1px solid #703b0f ;
	width: 300px;
	height: 80px;
	padding: 10px;
	color:  #703b0f;
	font-size: 12px;
		font-family: 'Playfair Display', serif;
}
.box h2 {
	margin-top: 10px;
}
.box2{


	margin-left: 700px;
	border: 1px solid #703b0f ;
	width: 300px;
	height: 50px;
	padding: 10px;
	color:  #703b0f;
	font-size: 12px;
	font-family: 'Playfair Display', serif;
	border-top: 0px;
	display: flex;
	word-spacing: 150px;
}
.box3{


	margin-left: 700px;
	border: 1px solid #703b0f ;
	width: 300px;
	height: 50px;
	padding: 10px;
	color:  #703b0f;
	font-size: 10px;
	font-family: 'Playfair Display', serif;
	border-top: 0px;
	display: flex;
	word-spacing: 5px;
}
.box4{


	margin-left: 700px;
	border: 1px solid #703b0f ;
	width: 300px;
	height: 100px;
	padding: 10px;
	color:  #703b0f;
	font-size: 10px;
	font-family: 'Playfair Display', serif;
	border-top: 0px;
}
 .button{
 
  border: none;
  color: #f3cc95;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 55px;
}
.button1{
	background-color: #854d26;
}

.logo {
float: left;
height: 70px;
margin-top: 10px;
margin-left: 30px;
}

.women h1
{
	color:#a46c64;
	position: absolute;
	font-size: 45px;
	margin-top: 230px;
	margin-left: 930px;

}
.women h2{

	font-size: 20px;
	color:#a46c64;
	position: absolute;
	margin-top: 350px;
	margin-left: 850px;
}
.box1{

	margin-top: 150px;
	position: absolute;
	margin-left: 50px;
}
.dresses{
position: absolute;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
margin-top: 800px;
column-gap: 70px;
grid-row-gap: 30px;
}

.figcap, .figcap2{

	color: #a46c64;
	
}

.overlay{
position: absolute;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
column-gap: 30px;
grid-row-gap: 30px;
background: rgba(0, 0, 0, .0);
height: 500px;
width: 330px;
margin-top: -560px;
}


.dress1:hover .overlay
{
 
  background: rgba(0, 0, 0, .3);
}


.dress2:hover .overlay
{
 
  background: rgba(0, 0, 0, .3);
}

.dress2:hover .overlay
{
 
  background: rgba(0, 0, 0, .3);
}

.dress3:hover .overlay
{
 
  background: rgba(0, 0, 0, .3);
}

.dress4:hover .overlay
{
 
  background: rgba(0, 0, 0, .3);
}

.dress5:hover .overlay
{
 
  background: rgba(0, 0, 0, .3);
}

.dress6:hover .overlay
{
 
  background: rgba(0, 0, 0, .3);
}
.button {
	position: absolute;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
column-gap: 30px;
grid-row-gap: 30px;
margin-top: -260px;
margin-left: -100px;
  width: 500px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.dress1:hover .button {
  opacity: 1;
}
.dress2:hover .button {
  opacity: 1;
}
.dress3:hover .button {
  opacity: 1;
}
.dress4:hover .button {
  opacity: 1;
}
.dress5:hover .button {
  opacity: 1;
}
.dress6:hover .button {
  opacity: 1;
}

.desc
{
	position: absolute;
	color: white ;
	margin-top: -250px;
	margin-left: -10px;
	font-size: 20px;
	font-family: georgia;

}







.container1{

margin: 0px;

background-color: #ac8574;


}



.footer{
	position: absolute;
background-color: #a98271;
padding:30px 0px;
font-family: 'Play', sans-serif;
text-align:center;
margin-top: 2100px;
width: 100%;

}

.footer .row{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:white;
font-size:0.8em;
}

.footer .row a{
text-decoration:none;
color:white;
transition:0.5s;
}


.footer .row ul{
width:100%;
}

.footer .row ul li{
display:inline-block;
margin:0px 30px;
}

.footer .row a i{
font-size:2em;
margin:0% 1%;
}

@media (max-width:720px){
.footer{
text-align:left;
padding:5%;
margin: 4400px;
margin-left: 0px;
}
.footer .row ul li{
display:block;
margin:10px 0px;
text-align:left;
}
.footer .row a i{
margin:0% 3%;
}

.box1{

	width: 100px;
}


}

#myInput {
 margin-top: 15px;
  width: 20%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-left: 100px;
   box-sizing: border-box;

}
#myInput:focus {
  border: 2px solid lightgrey;
}
#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

.container{

margin-top: 100px;
position: relative;
display: flex;
justify-content: space-evenly;
align-items: center;
flex-wrap: wrap;
margin-bottom: 100px;
gap: 30px;


}

.grid {
  /*display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: stretch;*/
  width: 20%;
height: auto;
margin-bottom:40px;

}

.grid .text {
  padding: 20px;
  color: white;
}
body{
	margin: 10px;
}