*{
  margin-top: 15px;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #f1e0d0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
nav ul {
  margin-top: -30px;
  float: right;
  margin-right: 70px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: #703b0f;
  font-size: 20px;
  padding: 6px 12px;
  border-radius: 30px;
  text-transform: uppercase;
}
a.active, a:hover {
    background: #d3b9a2;
    transition: .5s;
}
.checkbotton{
  color: white;
  float: right;
  margin-right: 30px;
  margin-top: 0px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
.logo {
  float: left;
  height: 70px;
  margin-top: -17px;
  margin-left: 30px;
}
@media (max-width: 600px){
  
  .checkbotton {
    display: block;
    margin-right: -3px;
    margin-top: -3px;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #dac1ab;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    top: 190px;
    left: 110%;
    text-align: center;
    transition: all .5s;
    z-index: 99;
    padding-left: 20px;
  }
  nav ul li {
    display: block;
    margin: 50px 10px;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover, a:active{
    background: none;
    color: white;
  }
  #check:checked ~ ul{
    left: 0;
  }
}

.container{
  display: inline-block;
  margin-top: 50px;
  margin-left: 300px;
  background: white;
  color: #703b0f;
  border-radius: 30px;
  width: 900px;
  text-align: center;
  box-shadow: 0 10px 20px -10px rgba(0,0,0,.75);
}
.cover-photo{
  background: url(12.jpg);
  height: 170px;
  width: 100%;
  border-radius: 30px;
  margin-top: -7px;
  box-shadow: 0 10px 10px -10px rgba(0,0,0,.5);
}
.profile{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin: 93px 0 0 -495px;
  border: 1px solid #1f1a32;
  padding: 7px;
  background: #292343;
}

button{
  margin: 10px 0 40px 0;
}
.delete, .viewCart{
  display: inline-block;
  float: right;
  margin-right: 40px;
  background:  #dac1ab;
  border: 1px solid #D3ACA4;
  padding: 10px 25px;
  color: #231e39;
  border-radius: 3px;
  font-family: Montserrat, sans-serif;
  cursor: pointer;
}
.delete:hover{
  color: #231e39;
  border: 1px solid  #D3ACA4;
  background: #D3ACA4;
  transition: .5s;
}

.viewCart:hover{
  color: #231e39;
  border: 1px solid  #D3ACA4;
  background: #D3ACA4;
  transition: .5s;
}
.container i{
  padding-left: 20px;
  font-size: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: .5s;
}
.container i:hover{
  color: #03bfbc;
}
.yourinfo{
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin-left: -500px;
}
.table_data{
   margin-left: 80px;
   margin-bottom: 20px;
   background-color: white;
   border-collapse:collapse;
   font-family: "Roboto", sans-serif;
  font-size: 20px;
   width:80%;
   border: 0;
}
@media (max-width: 600px){
  .logo {
    margin-left: 130px;
    height: 150px;
  }
  .container{
    width: 400px;
    margin-top: 20px;
    margin-left: 40px;
  }
  .cover-photo{
  height: 170px;
  width: 100%;
  border-radius: 30px;
  margin-top: -7px;
  box-shadow: 0 10px 10px -10px rgba(0,0,0,.5);
}
.profile{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin: 33px 0 0 -14px;
  border: 1px solid #1f1a32;
  padding: 7px;
  background: #292343;
}
.yourinfo{
  margin-left: 10px;
  margin-top: 30px;
}
.table_data{
  padding: 10px;
   margin-left: 20px;
   margin-bottom: 20px;
   font-family: "Roboto", sans-serif;
   font-size: 20px;
}
}